.ktl-social-list-module_social-list_K2Nqu {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
}

@media (max-width: 808px) {.ktl-social-list-module_social-list_K2Nqu {
    -moz-column-gap: var(--ktl-box-block-l);
    column-gap: var(--ktl-box-block-l)
}
}

@media (max-width: 472px) {.ktl-social-list-module_social-list_K2Nqu {
    -moz-column-gap: var(--ktl-box-block-l);
    column-gap: var(--ktl-box-block-l);
    grid-template-columns: repeat(3, -webkit-min-content);
    grid-template-columns: repeat(3, min-content);
    grid-auto-flow: row
}
}



:root {
    --ktl-light-grey: #f4f4f4;
    --ktl-dark-100: rgba(39, 40, 44, 1);
    --ktl-dark-bg-hard: rgba(27, 27, 27, 1);
    --ktl-icon-color-dark: rgba(39, 40, 44, 0.75);
    --ktl-color-white-light: rgba(255, 255, 255, 0.75);
    --ktl-transition-xfast: 100ms;
    --ktl-transition-fast: 300ms;
    --ktl-color-primary-light-theme: #7f52ff;
    --ktl-color-dark-40: rgba(39, 40, 44, 0.4);
    --ktl-light-text-hard: rgba(39, 40, 44, 1);
    --ktl-light-dark-20: rgba(39, 40, 44, 0.2);
    --ktl-divider-color: rgba(25, 25, 28, .2);
    --ktl-overlay-z-index: 900;
    --ktl-top-menu-z-index: 905;
    --ktl-header-z-index: 906;
    --ktl-mobile-dropdown-list-z-index: 907;
    --ktl-header-height-mobile: 52px;
    --ktl-font-family-inter: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    --ktl-focus-outline: rgba(107,87,255,.8) 0 0 0 4px;

}

:root {
    --website-ui-text-color: #19191c;
    --website-ui-text-color-dark: #fff;
    --website-ui-focus-outline-color: rgba(48, 127, 255, 0.5);
    --website-ui-focus-outline: 4px solid var(--website-ui-focus-outline-color);
}

:root {
    --ktl-box-block-s: 4px;
    --ktl-box-block-m: 8px;
    --ktl-box-block-l: 16px;

    --ktl-box-section-s: 24px;
    --ktl-box-section-m: 32px;
    --ktl-box-section-l: 48px;

    --ktl-box-page-s: 64px;
    --ktl-box-page-m: 72px;
    --ktl-box-page-l: 96px;
}

.ktl-social-item-module_social-item_GpKEF {
    display: flex;
    align-items: center;
}

.ktl-nav-list-module_nav-list_-k4np {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 808px) {.ktl-nav-list-module_nav-list_-k4np {
    padding: var(--ktl-box-section-s) 0;
    margin: var(--ktl-box-section-s) 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--ktl-box-section-s)
}
}

@media (max-width: 472px) {.ktl-nav-list-module_nav-list_-k4np {
    grid-template-columns: 1fr
}
}

:root {
    --ktl-light-grey: #f4f4f4;
    --ktl-dark-100: rgba(39, 40, 44, 1);
    --ktl-dark-bg-hard: rgba(27, 27, 27, 1);
    --ktl-icon-color-dark: rgba(39, 40, 44, 0.75);
    --ktl-color-white-light: rgba(255, 255, 255, 0.75);
    --ktl-transition-xfast: 100ms;
    --ktl-transition-fast: 300ms;
    --ktl-color-primary-light-theme: #7f52ff;
    --ktl-color-dark-40: rgba(39, 40, 44, 0.4);
    --ktl-light-text-hard: rgba(39, 40, 44, 1);
    --ktl-light-dark-20: rgba(39, 40, 44, 0.2);
    --ktl-divider-color: rgba(25, 25, 28, .2);
    --ktl-overlay-z-index: 900;
    --ktl-top-menu-z-index: 905;
    --ktl-header-z-index: 906;
    --ktl-mobile-dropdown-list-z-index: 907;
    --ktl-header-height-mobile: 52px;
    --ktl-font-family-inter: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    --ktl-focus-outline: rgba(107,87,255,.8) 0 0 0 4px;

}

:root {
    --website-ui-text-color: #19191c;
    --website-ui-text-color-dark: #fff;
    --website-ui-focus-outline-color: rgba(48, 127, 255, 0.5);
    --website-ui-focus-outline: 4px solid var(--website-ui-focus-outline-color);
}

:root {
    --ktl-box-block-s: 4px;
    --ktl-box-block-m: 8px;
    --ktl-box-block-l: 16px;

    --ktl-box-section-s: 24px;
    --ktl-box-section-m: 32px;
    --ktl-box-section-l: 48px;

    --ktl-box-page-s: 64px;
    --ktl-box-page-m: 72px;
    --ktl-box-page-l: 96px;
}

.ktl-nav-item-module_nav-item_isoyN {
    padding-right: 12px;
    margin-right: 12px;
    margin-top: 12px;
    line-height: var(--ktl-box-section-s);
    position: relative;
}

.ktl-nav-item-module_nav-item_isoyN:not(:last-child)::after {
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    width: 1px;
    height: var(--ktl-box-section-s);
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.2);
}

.ktl-nav-item-module_nav-item_isoyN:last-child {
    padding-right: 0;
    margin-right: 0;
}

.ktl-nav-item-module_nav-item-dark-theme_FijdH:not(:last-child)::after {
    background-color: rgba(255, 255, 255, 0.2)
}

@media (max-width: 808px) {
    .ktl-nav-item-module_nav-item_isoyN {
        margin: 0;
        padding: 0;
    }

    .ktl-nav-item-module_nav-item_isoyN:not(:last-child)::after {
        display: none;
    }
}
.ktl-logo-module_link_bNecp {
    display: block;
    line-height: 0;
    text-decoration: none;
}

.ktl-logo-module_link_bNecp:hover {
    text-decoration: none;
}

:root {
    --ktl-light-grey: #f4f4f4;
    --ktl-dark-100: rgba(39, 40, 44, 1);
    --ktl-dark-bg-hard: rgba(27, 27, 27, 1);
    --ktl-icon-color-dark: rgba(39, 40, 44, 0.75);
    --ktl-color-white-light: rgba(255, 255, 255, 0.75);
    --ktl-transition-xfast: 100ms;
    --ktl-transition-fast: 300ms;
    --ktl-color-primary-light-theme: #7f52ff;
    --ktl-color-dark-40: rgba(39, 40, 44, 0.4);
    --ktl-light-text-hard: rgba(39, 40, 44, 1);
    --ktl-light-dark-20: rgba(39, 40, 44, 0.2);
    --ktl-divider-color: rgba(25, 25, 28, .2);
    --ktl-overlay-z-index: 900;
    --ktl-top-menu-z-index: 905;
    --ktl-header-z-index: 906;
    --ktl-mobile-dropdown-list-z-index: 907;
    --ktl-header-height-mobile: 52px;
    --ktl-font-family-inter: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    --ktl-focus-outline: rgba(107,87,255,.8) 0 0 0 4px;

}

:root {
    --website-ui-text-color: #19191c;
    --website-ui-text-color-dark: #fff;
    --website-ui-focus-outline-color: rgba(48, 127, 255, 0.5);
    --website-ui-focus-outline: 4px solid var(--website-ui-focus-outline-color);
}

:root {
    --ktl-box-block-s: 4px;
    --ktl-box-block-m: 8px;
    --ktl-box-block-l: 16px;

    --ktl-box-section-s: 24px;
    --ktl-box-section-m: 32px;
    --ktl-box-section-l: 48px;

    --ktl-box-page-s: 64px;
    --ktl-box-page-m: 72px;
    --ktl-box-page-l: 96px;
}

.ktl-footer-module_footer_m67Up {
    background: var(--ktl-dark-100);
    padding: var(--ktl-box-page-m) 0;
    min-width: 320px;
    box-sizing: border-box;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.ktl-footer-module_social-list-area_bS3eE {
    display: flex;
    align-items: center;
}

.ktl-footer-module_social-list-title_HPzIP {
    margin-right: var(--ktl-box-block-m);
}

.ktl-footer-module_text-area_flccc {
    margin-top: var(--ktl-box-block-m);
}

.ktl-footer-module_logo-area_SsNTa {
    margin-top: var(--ktl-box-page-m);
}

.ktl-footer-module_copyright_XjtgY {
    display: inline;
}

.ktl-footer-module_copyrightBreakLine_0hI7E {
    display: none;
}

@media (max-width: 808px) {
    .ktl-footer-module_footer_m67Up {
        padding: var(--ktl-box-section-l) 0;
    }
}

@media (max-width: 808px) {
    .ktl-footer-module_social-list-area_bS3eE {
        display: block;
    }

    .ktl-footer-module_logo-area_SsNTa {
        margin-top: var(--ktl-box-section-s);
    }

    .ktl-footer-module_copyrightBreakLine_0hI7E {
        display: inline;
    }
}

@media (max-width: 472px) {
    .ktl-footer-module_footer_m67Up {
        padding: var(--ktl-box-section-s) 0 var(--ktl-box-section-l);
    }

    .ktl-footer-module_copyrightBreakLine_0hI7E {
        display: none;
    }
}
.ktl-layout {
    --ktl-layout-spacing: 72px;
    --ktl-layout-width: 1144px;
}

@media (max-width: 1190px) {.ktl-layout {
    --ktl-layout-width: 952px;
}
}

@media (max-width: 1000px) {.ktl-layout {
    --ktl-layout-spacing: 48px;
    --ktl-layout-width: 760px;
}
}

@media (max-width: 808px) {.ktl-layout {
    --ktl-layout-width: 568px;
}
}

@media (max-width: 808px) {.ktl-layout {
    --ktl-layout-width: 424px;
}
}

@media (max-width: 472px) {.ktl-layout {
    --ktl-layout-width: 328px;
}
}

@media (max-width: 472px) {.ktl-layout {
    --ktl-layout-width: 272px;
}
}

.ktl-layout {

    box-sizing: border-box;
    width: var(--ktl-layout-width);

    transition: width 200ms;
    will-change: width;
}
.ktl-layout--center {
    margin-left: auto;
    margin-right: auto;
}
.ktl-layout--spacing {
    margin-top: var(--ktl-layout-spacing);
    margin-bottom: var(--ktl-layout-spacing);
}
