.ktl-logo-large-module_container_35w4p {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}

.ktl-logo-large-module_link_AOGas {
    display: block;
    width: 100px;
    height: 24px;
    text-decoration: none;
    cursor: pointer;
}

.ktl-logo-large-module_version-tag_k12Hw {
    line-height: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.ktl-logo-large-module_version-tag_k12Hw:hover {
    color: #ffffff;
}

:root {
    --ktl-light-grey: #f4f4f4;
    --ktl-dark-100: rgba(39, 40, 44, 1);
    --ktl-dark-bg-hard: rgba(27, 27, 27, 1);
    --ktl-icon-color-dark: rgba(39, 40, 44, 0.75);
    --ktl-color-white-light: rgba(255, 255, 255, 0.75);
    --ktl-transition-xfast: 100ms;
    --ktl-transition-fast: 300ms;
    --ktl-color-primary-light-theme: #7f52ff;
    --ktl-color-dark-40: rgba(39, 40, 44, 0.4);
    --ktl-light-text-hard: rgba(39, 40, 44, 1);
    --ktl-light-dark-20: rgba(39, 40, 44, 0.2);
    --ktl-divider-color: rgba(25, 25, 28, .2);
    --ktl-overlay-z-index: 900;
    --ktl-top-menu-z-index: 905;
    --ktl-header-z-index: 906;
    --ktl-mobile-dropdown-list-z-index: 907;
    --ktl-header-height-mobile: 52px;
    --ktl-font-family-inter: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    --ktl-focus-outline: rgba(107,87,255,.8) 0 0 0 4px;

}

:root {
    --website-ui-text-color: #19191c;
    --website-ui-text-color-dark: #fff;
    --website-ui-focus-outline-color: rgba(48, 127, 255, 0.5);
    --website-ui-focus-outline: 4px solid var(--website-ui-focus-outline-color);
}

:root {
    --ktl-box-block-s: 4px;
    --ktl-box-block-m: 8px;
    --ktl-box-block-l: 16px;

    --ktl-box-section-s: 24px;
    --ktl-box-section-m: 32px;
    --ktl-box-section-l: 48px;

    --ktl-box-page-s: 64px;
    --ktl-box-page-m: 72px;
    --ktl-box-page-l: 96px;
}

.ktl-header-module_header-menu_wh71L {
    position: relative;
    padding: 0 32px;
    background: var(--ktl-dark-100);
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: var(--ktl-header-z-index);
}

.ktl-header-module_border_paN11 {
    box-shadow: inset 0 -1px rgba(255, 255, 255, 0.3);
}

.ktl-header-module_darkHeader_YLF76 {
    background: #19191C;
    box-shadow: none;
}

@media (max-width: 960px) {
    .ktl-header-module_header-menu_wh71L {
        padding: 0 0 0 16px;
        height: var(--ktl-header-height-mobile);
    }
}

:root {
    --ktl-light-grey: #f4f4f4;
    --ktl-dark-100: rgba(39, 40, 44, 1);
    --ktl-dark-bg-hard: rgba(27, 27, 27, 1);
    --ktl-icon-color-dark: rgba(39, 40, 44, 0.75);
    --ktl-color-white-light: rgba(255, 255, 255, 0.75);
    --ktl-transition-xfast: 100ms;
    --ktl-transition-fast: 300ms;
    --ktl-color-primary-light-theme: #7f52ff;
    --ktl-color-dark-40: rgba(39, 40, 44, 0.4);
    --ktl-light-text-hard: rgba(39, 40, 44, 1);
    --ktl-light-dark-20: rgba(39, 40, 44, 0.2);
    --ktl-divider-color: rgba(25, 25, 28, .2);
    --ktl-overlay-z-index: 900;
    --ktl-top-menu-z-index: 905;
    --ktl-header-z-index: 906;
    --ktl-mobile-dropdown-list-z-index: 907;
    --ktl-header-height-mobile: 52px;
    --ktl-font-family-inter: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    --ktl-focus-outline: rgba(107,87,255,.8) 0 0 0 4px;

}

:root {
    --website-ui-text-color: #19191c;
    --website-ui-text-color-dark: #fff;
    --website-ui-focus-outline-color: rgba(48, 127, 255, 0.5);
    --website-ui-focus-outline: 4px solid var(--website-ui-focus-outline-color);
}

:root {
    --ktl-box-block-s: 4px;
    --ktl-box-block-m: 8px;
    --ktl-box-block-l: 16px;

    --ktl-box-section-s: 24px;
    --ktl-box-section-m: 32px;
    --ktl-box-section-l: 48px;

    --ktl-box-page-s: 64px;
    --ktl-box-page-m: 72px;
    --ktl-box-page-l: 96px;
}

.ktl-horizontal-menu-module_nav_gbA7M {
    display: block;
}

.ktl-horizontal-menu-module_menu-list_TJnOF {
    display: grid;
    grid-auto-flow: column;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ktl-horizontal-menu-module_menu-item-wrap_j6zB- {
    position: relative;
}

.ktl-horizontal-menu-module_menu-item_CXDEW {
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 60px !important;
    color: rgba(255, 255, 255, 0.75);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
}

.ktl-horizontal-menu-module_menu-item_CXDEW:hover,
.ktl-horizontal-menu-module_menu-item_CXDEW.ktl-horizontal-menu-module_expanded_3GFPc {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.ktl-horizontal-menu-module_menu-item_CXDEW.ktl-horizontal-menu-module_item-active_Zca2K {
    color: #ffffff;
    border-bottom-color: inherit;
}

.ktl-horizontal-menu-module_dropdown-menu_jwdWI {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 260px;
    margin: 8px 0 0 0;
    list-style: none;
    padding: 8px 0;
    white-space: nowrap;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(39, 40, 44, 0.7);
    -webkit-animation: ktl-horizontal-menu-module_fade-in_FGwhC ease-out var(--ktl-transition-fast) forwards;
    animation: ktl-horizontal-menu-module_fade-in_FGwhC ease-out var(--ktl-transition-fast) forwards;
}

.ktl-horizontal-menu-module_dark-theme_gfxx6 .ktl-horizontal-menu-module_dropdown-menu_jwdWI {
    background: var(--ktl-dark-100);
    border-color: rgba(255, 255, 255, 0.2);
}

.ktl-horizontal-menu-module_dark-theme_gfxx6 .ktl-horizontal-menu-module_dropdown-menu_jwdWI .ktl-horizontal-menu-module_dropdown-menu-item_9gjwH {
    color: var(--ktl-color-white-light);
}

.ktl-horizontal-menu-module_dark-theme_gfxx6 .ktl-horizontal-menu-module_dropdown-menu_jwdWI .ktl-horizontal-menu-module_dropdown-menu-item_9gjwH:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.1);
}

.ktl-horizontal-menu-module_dark-theme_gfxx6 .ktl-horizontal-menu-module_dropdown-menu_jwdWI .ktl-horizontal-menu-module_dropdown-menu-item_9gjwH.ktl-horizontal-menu-module_active_m5fs- {
    color: var(--ktl-dark-100);
    background: rgba(255, 255, 255, 1);
}

.ktl-horizontal-menu-module_dropdown-menu-expanded_eX8Jy {
    display: block;
}

.ktl-horizontal-menu-module_dropdown-menu-align-right_YeB-9 {
    right: 0;
}

.ktl-horizontal-menu-module_dropdown-menu-item_9gjwH {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    color: var(--ktl-dark-100);
    transition: color var(--ktl-transition-fast),
    background var(--ktl-transition-fast);
}

.ktl-horizontal-menu-module_dropdown-menu-item_9gjwH:hover {
    color: var(--ktl-dark-100);
    background: rgba(39, 40, 44, 0.1);
    text-decoration: none;
}

.ktl-horizontal-menu-module_dropdown-menu-item_9gjwH.ktl-horizontal-menu-module_active_m5fs- {
    color: rgba(255, 255, 255, 1);
    background: var(--ktl-dark-100);
    cursor: default;
}

@-webkit-keyframes ktl-horizontal-menu-module_fade-in_FGwhC {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ktl-horizontal-menu-module_fade-in_FGwhC {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 960px) {
    .ktl-horizontal-menu-module_nav_gbA7M {
        display: none;
    }
}

:root {
    --ktl-light-grey: #f4f4f4;
    --ktl-dark-100: rgba(39, 40, 44, 1);
    --ktl-dark-bg-hard: rgba(27, 27, 27, 1);
    --ktl-icon-color-dark: rgba(39, 40, 44, 0.75);
    --ktl-color-white-light: rgba(255, 255, 255, 0.75);
    --ktl-transition-xfast: 100ms;
    --ktl-transition-fast: 300ms;
    --ktl-color-primary-light-theme: #7f52ff;
    --ktl-color-dark-40: rgba(39, 40, 44, 0.4);
    --ktl-light-text-hard: rgba(39, 40, 44, 1);
    --ktl-light-dark-20: rgba(39, 40, 44, 0.2);
    --ktl-divider-color: rgba(25, 25, 28, .2);
    --ktl-overlay-z-index: 900;
    --ktl-top-menu-z-index: 905;
    --ktl-header-z-index: 906;
    --ktl-mobile-dropdown-list-z-index: 907;
    --ktl-header-height-mobile: 52px;
    --ktl-font-family-inter: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    --ktl-focus-outline: rgba(107,87,255,.8) 0 0 0 4px;

}

:root {
    --website-ui-text-color: #19191c;
    --website-ui-text-color-dark: #fff;
    --website-ui-focus-outline-color: rgba(48, 127, 255, 0.5);
    --website-ui-focus-outline: 4px solid var(--website-ui-focus-outline-color);
}

:root {
    --ktl-box-block-s: 4px;
    --ktl-box-block-m: 8px;
    --ktl-box-block-l: 16px;

    --ktl-box-section-s: 24px;
    --ktl-box-section-m: 32px;
    --ktl-box-section-l: 48px;

    --ktl-box-page-s: 64px;
    --ktl-box-page-m: 72px;
    --ktl-box-page-l: 96px;
}

.ktl-search-button-module_button_YHJPv {
    display: flex;
    visibility: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 none transparent;
    outline: 0 none transparent;
    cursor: pointer;
    background: none;
    padding: 0;
    margin: 0 0 0 32px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    transition: color var(--ktl-transition-xfast),
    background-color var(--ktl-transition-xfast);
    color: var(--ktl-color-white-light);
}

.ktl-search-button-module_button_YHJPv.ktl-search-button-module_active_lUmdh {
    visibility: visible;
}

.ktl-search-button-module_button_YHJPv:hover,
.ktl-search-button-module_button_YHJPv :focus {
    color: #ffffff;
}

@media (max-width: 960px) {

    .ktl-search-button-module_button_YHJPv {
        display: none
    }
}

.ktl-result-module_result_EKhUw {
    box-sizing: border-box;
    display: block;
    padding: 16px;
    text-decoration: none;
}
.ktl-result-module_result_EKhUw:hover {
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}
.ktl-result-module_result_EKhUw:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.1);
}
.ktl-result-module_result_EKhUw em {
    background-color: rgba(127,82,255,0.3);
    font-style: normal;
}

.ktl-result-module_resultTitle_DSpAT {
    margin-bottom: 6px;
    overflow-wrap: break-word;
}

.ktl-result-module_text_fWBKG {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 961px) {
    .ktl-result-module_result_EKhUw {
        padding: 16px 32px;
    }
}
.ktl-list-module_results_LlxqY {
    box-sizing: border-box;
    max-height: 305px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #323236;
    color: #fff;
    overflow-y: scroll;
}

.ktl-list-module_topBar_OO0XT {
    display: none;
}

.ktl-list-module_advancedSearch_XNy88 {
    display: inline-block;
    background: transparent;
    border: 0;
    padding: 6px 16px;
    border-radius: 24px;
    cursor: pointer;
    flex-shrink: 0;
    transform: translateY(-6px);
}

.ktl-list-module_advancedSearch_XNy88:hover {
    background: rgba(255, 255, 255, .1);
}

.ktl-list-module_advancedSearch_XNy88:focus {
    outline: none;
    box-shadow: rgba(107, 87, 255, 0.8) 0 0 0 4px;
}

.ktl-list-module_searchString_rJnxa {
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 961px) {
    .ktl-list-module_results_LlxqY {
        max-height: 434px;
    }

    .ktl-list-module_topBar_OO0XT {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 34px 32px 4px 32px;
    }
}
.ktl-empty-module_empty_xh1i- {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #323236;
    padding: 16px;
}

.ktl-empty-module_resultString_-8dzl {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
}

@media (min-width: 961px) {
    .ktl-empty-module_empty_xh1i- {
        padding: 32px;
    }

    .ktl-empty-module_resultString_-8dzl {
        -webkit-line-clamp: 2;
    }
}
.ktl-loading-module_loading_CtOhW {
    box-sizing: border-box;
    height: 92px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #323236;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.ktl-loading-module_loading_CtOhW > svg {
    fill: #6B57FF;
}
.ktl-quick-search-module_wrapper_kkbQQ {
    box-sizing: border-box;
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: -8px;
    transform: translateY(100%);
}


/*@media (min-width: 740px) and (max-width: 768px) {
    .wrapper {
        bottom: 12px;
    }
}*/


@media (min-width: 961px) {
    .ktl-quick-search-module_wrapper_kkbQQ {
        left: 0;
        right: 0;
    }
}


@media (min-width: 961px) and (max-width: 1024px) {
    .ktl-quick-search-module_apiReferenceWrapper_jv98t {
        width: calc(100vw - 64px);
        left: auto;
        right: 0;
    }
}


@media (min-width: 1024px) {
    .ktl-quick-search-module_apiReferenceWrapper_jv98t {
        left: auto;
        right: 0;
        width: 1000px;
    }
}

.ktl-loading-module_loader_B2IQl {
    margin-top: 4px;
}
.ktl-loading-module_loader_B2IQl > svg {
    fill: #6B57FF;
}
.ktl-empty-module_wrapper_cNB8Y {
    display: block;
    margin-top: 30px;
}

.ktl-empty-module_title_p2FMj {
    margin-bottom: 24px;
}

.ktl-empty-module_image_6Xr6L {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}
.ktl-chapters-module_chapters_J0wLB {
    border-left: 1px solid var(--ktl-light-dark-20);
    padding-left: 12px;
    margin-top: 24px;
}

.ktl-chapters-module_chapterTitle_b6Rdz em {
    background: rgba(127, 82, 255, 0.2);
    font-style: normal;
}

.ktl-chapters-module_singleChapter_zSmx2:not(:last-child) {
    margin-bottom: 12px;
}

.ktl-chapters-module_headliner_ZBuf9 {
    margin: 0;
}

.ktl-chapters-module_snippet_yROJo {
    margin-top: 8px;
    color: rgba(39, 40, 44, 0.7);
}

.ktl-chapters-module_snippet_yROJo em {
    background: rgba(127, 82, 255, 0.2);
    font-style: normal;
}

.ktl-chapters-module_chapterSnippet_8Pwb2 em {
    background: rgba(127, 82, 255, 0.2);
    font-style: normal;
}

.ktl-chapters-module_extraSection_lsZfw {
    display: none;
}

.ktl-chapters-module_visibleSection_wQyvM {
    display: block;
}

.ktl-chapters-module_moreButton_98oqy {
    margin-top: 12px;
}

.ktl-hit-list-module_hitList_1MP6m {
    margin: 40px 0 50px 0;
}

.ktl-hit-list-module_titleLink_rdJ6u em {
    background: rgba(127, 82, 255, 0.2);
    font-style: normal;
}

.ktl-hit-list-module_snippet_WmrYL em {
    background: rgba(127, 82, 255, 0.2);
    font-style: normal;
}

.ktl-full-search-module_fullSearch_MTU8t {
    display: none;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow-y: auto;
}

.ktl-full-search-module_closeSearch_5vYDG {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
}

.ktl-full-search-module_fullSearchClearButton_DGS6T {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    display: flex;
    cursor: pointer;

}

.ktl-full-search-module_fullSearchClearButton_DGS6T > svg {
    opacity: 0.7;
}

.ktl-full-search-module_fullSearchClearButton_DGS6T:hover > svg {
    opacity: 1;
}

.ktl-full-search-module_fullSearchClearButton_DGS6T:focus {
    outline: none;
    box-shadow: rgba(107, 87, 255, 0.8) 0 0 0 4px;
    border-radius: 100%;
}

.ktl-full-search-module_fullSearchClearButton_DGS6T:focus > svg {
    opacity: 1;
}

.ktl-full-search-module_wrapper_9rxXb {
    max-width: 704px;
    margin: 0 auto;
}

.ktl-full-search-module_header_Wltw0 {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 10;
}

.ktl-full-search-module_results_svcSE {
    margin-top: 14px;
}

.ktl-full-search-module_switcher_o1RgM {
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
}

@media (min-width: 961px) {
    .ktl-full-search-module_fullSearch_MTU8t {
        display: block;
    }
}

.ktl-search-box-module_searchBox_0SgE9 {
    position: relative;
    width: 408px;
}

.ktl-search-box-module_searchInput_ba2QS {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.ktl-search-box-module_searchMobileClose_fBF7e {
    margin: 0;
    padding: 0 8px;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ktl-search-box-module_searchMobileClose_fBF7e > svg {
    fill: #ffffff;
}

.ktl-search-box-module_customClearButton_yecGK {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    display: flex;
    cursor: pointer;
}

.ktl-search-box-module_customClearButton_yecGK > svg {
    fill: #ffffff;
    opacity: 0.7;
}

.ktl-search-box-module_customClearButton_yecGK:hover > svg {
    opacity: 1;
}

.ktl-search-box-module_customClearButton_yecGK:focus {
    outline: none;
    box-shadow: rgba(107, 87, 255, 0.8) 0 0 0 4px;
    border-radius: 100%;
}

.ktl-search-box-module_customClearButton_yecGK:focus > svg {
    opacity: 1;
}

@media (max-width: 960px) {
    .ktl-search-box-module_searchBox_0SgE9 {
        background: var(--ktl-dark-100);
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 4px;
    }
}

@media (min-width: 961px) {
    .ktl-search-box-module_searchMobileClose_fBF7e {
        display: none;
    }
}

:root {
    --ktl-light-grey: #f4f4f4;
    --ktl-dark-100: rgba(39, 40, 44, 1);
    --ktl-dark-bg-hard: rgba(27, 27, 27, 1);
    --ktl-icon-color-dark: rgba(39, 40, 44, 0.75);
    --ktl-color-white-light: rgba(255, 255, 255, 0.75);
    --ktl-transition-xfast: 100ms;
    --ktl-transition-fast: 300ms;
    --ktl-color-primary-light-theme: #7f52ff;
    --ktl-color-dark-40: rgba(39, 40, 44, 0.4);
    --ktl-light-text-hard: rgba(39, 40, 44, 1);
    --ktl-light-dark-20: rgba(39, 40, 44, 0.2);
    --ktl-divider-color: rgba(25, 25, 28, .2);
    --ktl-overlay-z-index: 900;
    --ktl-top-menu-z-index: 905;
    --ktl-header-z-index: 906;
    --ktl-mobile-dropdown-list-z-index: 907;
    --ktl-header-height-mobile: 52px;
    --ktl-font-family-inter: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    --ktl-focus-outline: rgba(107,87,255,.8) 0 0 0 4px;

}

:root {
    --website-ui-text-color: #19191c;
    --website-ui-text-color-dark: #fff;
    --website-ui-focus-outline-color: rgba(48, 127, 255, 0.5);
    --website-ui-focus-outline: 4px solid var(--website-ui-focus-outline-color);
}

:root {
    --ktl-box-block-s: 4px;
    --ktl-box-block-m: 8px;
    --ktl-box-block-l: 16px;

    --ktl-box-section-s: 24px;
    --ktl-box-section-m: 32px;
    --ktl-box-section-l: 48px;

    --ktl-box-page-s: 64px;
    --ktl-box-page-m: 72px;
    --ktl-box-page-l: 96px;
}

.ktl-menu-popup-module_menu-popup_Q68IE {
    display: none;
    padding: 8px 0 56px 0;
    background: var(--ktl-dark-100);
    position: fixed;
    top: var(--ktl-header-height-mobile);
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: var(--ktl-top-menu-z-index);
}

.ktl-menu-popup-module_menu-popup-expanded_ggrp9 {
    display: block;
}

.ktl-menu-button-module_button_wB9Mx {
    display: flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 none transparent;
    outline: 0 none transparent;
    cursor: pointer;
    background: none;
    padding: 0;
    margin: 0;
    width: var(--ktl-header-height-mobile);
    height: var(--ktl-header-height-mobile);
    align-items: center;
    justify-content: center;
    transition: color var(--ktl-transition-xfast),
    background-color var(--ktl-transition-xfast);
    color: var(--ktl-color-white-light);
}

.ktl-menu-button-module_button_wB9Mx:hover,
.ktl-menu-button-module_button_wB9Mx :focus {
    color: #ffffff;
}

:root {
    --ktl-light-grey: #f4f4f4;
    --ktl-dark-100: rgba(39, 40, 44, 1);
    --ktl-dark-bg-hard: rgba(27, 27, 27, 1);
    --ktl-icon-color-dark: rgba(39, 40, 44, 0.75);
    --ktl-color-white-light: rgba(255, 255, 255, 0.75);
    --ktl-transition-xfast: 100ms;
    --ktl-transition-fast: 300ms;
    --ktl-color-primary-light-theme: #7f52ff;
    --ktl-color-dark-40: rgba(39, 40, 44, 0.4);
    --ktl-light-text-hard: rgba(39, 40, 44, 1);
    --ktl-light-dark-20: rgba(39, 40, 44, 0.2);
    --ktl-divider-color: rgba(25, 25, 28, .2);
    --ktl-overlay-z-index: 900;
    --ktl-top-menu-z-index: 905;
    --ktl-header-z-index: 906;
    --ktl-mobile-dropdown-list-z-index: 907;
    --ktl-header-height-mobile: 52px;
    --ktl-font-family-inter: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    --ktl-focus-outline: rgba(107,87,255,.8) 0 0 0 4px;

}

:root {
    --website-ui-text-color: #19191c;
    --website-ui-text-color-dark: #fff;
    --website-ui-focus-outline-color: rgba(48, 127, 255, 0.5);
    --website-ui-focus-outline: 4px solid var(--website-ui-focus-outline-color);
}

:root {
    --ktl-box-block-s: 4px;
    --ktl-box-block-m: 8px;
    --ktl-box-block-l: 16px;

    --ktl-box-section-s: 24px;
    --ktl-box-section-m: 32px;
    --ktl-box-section-l: 48px;

    --ktl-box-page-s: 64px;
    --ktl-box-page-m: 72px;
    --ktl-box-page-l: 96px;
}

.ktl-menu-list-item-module_menu-item_Aruue {
    --level: 0;
    display: flex;
    align-items: center;
    font-size: 19px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 7px 12px 16px;
}

.ktl-menu-list-item-module_menu-item_Aruue:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.ktl-menu-list-item-module_menu-item_Aruue.ktl-menu-list-item-module_active_jHfJR {
    color: var(--ktl-light-text-hard);
    background: rgba(255, 255, 255, 1);
    cursor: default;
    text-decoration: none;
}

.ktl-menu-list-item-module_menu-item_Aruue.ktl-menu-list-item-module_active-with-child_ier2a {
    background: none;
    color: rgba(255, 255, 255, 0.7);
}

.ktl-menu-list-item-module_menu-item-root_Rzcqb:not(a) {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 8px;
}

:root {
    --ktl-light-grey: #f4f4f4;
    --ktl-dark-100: rgba(39, 40, 44, 1);
    --ktl-dark-bg-hard: rgba(27, 27, 27, 1);
    --ktl-icon-color-dark: rgba(39, 40, 44, 0.75);
    --ktl-color-white-light: rgba(255, 255, 255, 0.75);
    --ktl-transition-xfast: 100ms;
    --ktl-transition-fast: 300ms;
    --ktl-color-primary-light-theme: #7f52ff;
    --ktl-color-dark-40: rgba(39, 40, 44, 0.4);
    --ktl-light-text-hard: rgba(39, 40, 44, 1);
    --ktl-light-dark-20: rgba(39, 40, 44, 0.2);
    --ktl-divider-color: rgba(25, 25, 28, .2);
    --ktl-overlay-z-index: 900;
    --ktl-top-menu-z-index: 905;
    --ktl-header-z-index: 906;
    --ktl-mobile-dropdown-list-z-index: 907;
    --ktl-header-height-mobile: 52px;
    --ktl-font-family-inter: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    --ktl-focus-outline: rgba(107,87,255,.8) 0 0 0 4px;

}

:root {
    --website-ui-text-color: #19191c;
    --website-ui-text-color-dark: #fff;
    --website-ui-focus-outline-color: rgba(48, 127, 255, 0.5);
    --website-ui-focus-outline: 4px solid var(--website-ui-focus-outline-color);
}

:root {
    --ktl-box-block-s: 4px;
    --ktl-box-block-m: 8px;
    --ktl-box-block-l: 16px;

    --ktl-box-section-s: 24px;
    --ktl-box-section-m: 32px;
    --ktl-box-section-l: 48px;

    --ktl-box-page-s: 64px;
    --ktl-box-page-m: 72px;
    --ktl-box-page-l: 96px;
}

.ktl-menu-list-module_menu-item-group_mFvUE {
    margin: 8px 0 8px 0;
    padding: 4px 0 8px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.ktl-menu-list-module_menu-item-group_mFvUE:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ktl-menu-list-module_menu-item-group_mFvUE + .ktl-menu-list-module_menu-item-group_mFvUE {
    margin-top: 0;
    padding-top: 0;

    border-top: none;
}

.ktl-logo-small-module_logo-small_iGY12 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100%;
}

.ktl-logo-small-module_link_SKXAa {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 16px;
}

.ktl-logo-small-module_icon-wrap_6hRnO {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
    margin-right: 12px;
}

.ktl-logo-small-module_icon_NyEog {
    width: 20px;
    height: 20px;
}
