.header-section {
  background-color: transparent;
  padding-top: 96px;

  &__actions {
    margin-top: 32px;
    display: flex;
    gap: 16px;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &__why-btn {
    margin-left: 16px;
  }

  &__get-started-btn {
    background-color: rgb(76, 166, 255);
    border-color: rgb(76, 166, 255);
  }

  &__contributors {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.header-section {
  &__card {
    &:nth-child(n+3) {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
