@import "./config/_font.scss";
@font-face {
    font-family: 'GraublauSans Bold';
    src: url("../assets/fonts/GraublauSans-Bold-webfont.woff");
}
@font-face {
    font-family: 'GraublauSlab Regular';
    src: url("../assets/fonts/GraublauSlab-Regular-webfont.woff");
}
@font-face {
    font-family: 'GraublauSlab Semibold';
    src: url("../assets/fonts/GraublauSlab-Semibold.woff");
}

@import "./fonts/jetbrains-mono.scss";
